{% load static %}
<!-- https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
<!DOCTYPE html> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Screenwriting App</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'app.js' %}"> </script>



</head>
<body> <!-- <canvas id="myCanvas" margin="0px">this is where animations will show up</canvas> -->
    
  
  <canvas class="large" id="myCanvas" resize margin="0px"></canvas>
  <img id="stick" class="visuallyhidden" src="https://upload.wikimedia.org/wikipedia/commons/9/94/Stick_Figure.svg" width="320" height="491"> 
  
  <div class=" container starter">
  
    <div class = "container hello" style = "margin-top: 50px;">
    <div class = "row">
      <div class = "col-12" style="font-size:70px;">
        <a>Welcome to <br> <a style = "font-size:100px; color:#505050; ">Stage Block</a> <br></a>
      </div>
    </div>
  </div>
  
    <div class="nameplay">
     
    <div class = "container hello" style = "margin-top: 90px;">
    <div class = "row">
      <div class = "col-12" style = "font-size:70px;">
        <a>What is the name of your play?</a>
      </div>
    </div>
  </div>
      
      
   <div class = "container hello" style = "margin-top: 90px;">
    <div class = "row">
      <div class = "col-12">
         <input class = "input-for-amounts" type="text" name="title-name" value = "" id="title-name" style = "width:75%; text-align: center; font-size:30px; height: 80px;">
      </div>
    </div>
  </div>
      
      
   <div class = "container hello" style = "margin-top: 90px; text-align: center; width: 200px; background-color: white;">
    <div class = "row">
      <div class = "col-12" id = "next" style = "font-size:50px; color:black;">
        <a>Next</a>
      </div>
    </div>
  </div>
  </div>

  
    <div class = "container stageimg">
    
    <div class = "container hello" style = "margin-top: 90px;">
    <div class = "row">
      <div class = "col-12" style = "font-size:70px;">
        <a>Please enter the url of an image of your stage</a>
      </div>
    </div>
  </div>
  
    <div class = "container hello" style = "margin-top: 90px;">
    <div class = "row">
      <div class = "col-12">
        <input id = "stage" name="stage" type="text" style="text-align: center; width:80%; height: 100px;font-size: 60px;" ></input>
      </div>
    </div>
  </div>
  
 <div class = "container hello" style = "margin-top: 90px; text-align: center; width: 200px; background-color: white;">
    <div class = "row">
      <div class = "col-12" id = "homedone" style = "font-size:50px; color:black;">
        <a>Enter</a>
      </div>
    </div>
  </div>
  </div>
</div>
  
  <div class = "container computer edit real">

         <div class="row" style="margin-top:-30px; background-color: lightgrey; ">
            <div class="col-2" style="text-align:right;">
              <button class="btn finalize-btn" id="charbtn" style = "margin-bottom:20px;"><i class="fa fa-group"></i> Characters</button>
              <div id="myCharModal" class="modal">
                <div class="modal-content">
                  <span class="close" id="close3">&times;</span>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12 instBox" style="margin-bottom:20px; text-align: left;">
                          Characters:
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12" style="text-align: left; font-size:20px;" id = "characters">
                          
                                                
                        </div>
                      </div>
                      
                      <div id="addchar" class="col-12" style="text-align: right; font-size:20px;">
                          <button class="btn"  ><i class="fa fa-plus"></i> Add Character</button>
                        
                      </div>
                      
                      <div style="text-align: right; font-size:20px;" id = "charHelp">
                          New Character: 
                          <input type="text" name="newcharinput" id="newcharinput" style = "width:15%;">
                          <button id="colorBtn"></button>
                          <button class="btn"  id="newchargo"><i class="fa fa-check"></i> </button>
                          <div id="popcp" style="right: 20px">
                              <div id="colorPalette"></div>
                          </div>
                      </div>
                      
                    </div>
                 </div>
              </div>
          </div>
       
         <div class="col-8"> </div>
           <button class="btn finalize-btn" id="play" style = "margin-bottom:20px;"><i class="fa fa-play"></i> Playback</button>
            <div class="col-2">
            </div>
       </div>
    <div class = "row">
      <div class="col-12">
        
        <div class = "row ">
          <div class = "col-12 title" id = "title-here">
          </div>
        </div>
        
        <div class = "script">  
        </div>
        
        <div class="container">
                    <div class="row" style="margin-top:30px;">
            <div class="col-12" style="text-align:right;">
              <button class="btn finalize-btn"  id="intbtn"><i class="fa fa-plus"></i> Interaction </button>
              <div id="myInteractionModal" class="modal">
                <div class="modal-content" style="height:600px; margin-top:50px;">
                  <span class="close" id="close2">&times;</span>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12 instBox" style="margin-bottom:20px; text-align: center; color: lightgrey;">
                          Drag characters to change their position.<br>
                          
                          <canvas id="myCanvas2" style = "width: 1000px; height:500px;"></canvas>
                          
                        </div>
                      </div>
                    </div>
                 </div>
              </div>
          </div>
         </div>
          
          <div class="row" style="margin-top:30px;">
            <div class="col-12" style="text-align:right;">
              <button class="btn"  id="dialbtn"><i class="fa fa-plus"></i> Dialogue</button>
              <div id="myDialModal" class="modal">
                <div class="modal-content">
                  <span class="close" id="close1">&times;</span>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12 instBox" style="margin-bottom:20px; text-align: left;">
                          Character Name:
                          <select class = "form" name="charnamesel" id="charnamesel" size="1" style = "width: 300px; border-radius:15px;">
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12" style="text-align: left; font-size:20px;">
                          Words: 
                          <input class = "input-for-amounts" type="text" name="words" id="words" style = "width:92%;">
                          <div style="text-align: right;">
                          <button class="btn"  id="enter" style = "margin-top: 20px;"><i class="fa fa-check"></i> Enter</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
              </div>
          </div>
       </div>
       

      </div>
    </div>
   </div>
  </div>
  
  
</body>
  
</html>
